img {
    width: 5%;
    padding: 10px;
    align-self: center;
}

h1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0 auto;
    text-align: center;
}